body {
	background-image: url("../images/bg-img.png");
}
h1{
	font-family:"Modak", "Erica One", "Sigmar One"
}
li{
	list-style-type: none;
}
.contList {
	float: left;
	padding: 0px 20px 0px 0px;
}
#online-peeps{
	height: 500px;
}
#messagebox {
	height: 360px;
	overflow-y: scroll;
}
#signoutBtn {
	margin-top: 35px;
  padding: 10px;
}
#btn-help {
	margin-top: 2px;
}
textarea {
	background-color: black;
}

.modal-content {
	left: 500px; 
}
.sender-message {
	color: white;
}
hr {
	color: grey;
}
.content-message {
	margin-bottom: 8px;
}
